<!DOCTYPE html>

 <html>

	 <head>

 	 	<meta charset="utf-8">
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=500">

	 	<!--Boostrap must come before local css definitions-->
	 	<link href="./css/bootstrap.css" rel="stylesheet" type="text/css">
 	 	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	 	<link rel="stylesheet" href="./css/jquery-ui.css">
	 	<link href="./css/bootstrap-select.css" rel="stylesheet" type="text/css">
	 	<link href="./css/main.css" rel="stylesheet" type="text/css">

	 	<!--JQuery .js must come before Bootstrap .js, or stuff won't work-->
		<script src="./js/jquery-3.1.1.js"></script>
		<script src="./js/jquery-ui.js"></script>
		<script src="https://www.google.com/jsapi"></script>
		<script src="./js/bootstrap.js"></script>
		<script src="./js/bootstrap-select.js"></script>
    	<script src="./js/chartkick.js" type="text/javascript"></script>

		<script type="text/javascript">

  			$( function() {

    			var availableActivities = [
					<% for row in @autocomplete_suggestions %>
						"<%= row["name"] %>",
					<% end %>
    			];

			    $( "#activity_to_log" ).autocomplete({
			      	source: availableActivities,
			      	position: {my : "center top+10", at: "bottom left", within: "window", collision: "none"},
				});

  			} );


			function validation_message() {

				var activity = ((document.getElementById("activity_to_log").value).replace(/,+/, ' ')).replace(/ {2,}/, ' ');
				var duration = document.getElementById("duration").value;
				
		       	if (activity == "" || duration == ""){
		    		alert("Please fill out both fields");
		    		return false;
		    	}

		       	if (duration < 0){
		    		alert("We all wish we could turn back time! Please enter a valid duration.");
		    		return false;
		    	}

		       	if (duration == 0){
		    		alert("Did you mean to enter zero? Please enter a valid duration.");
		    		return false;
		    	}

		       	if (duration > 1440){
		    		alert("There are only 1440 minutes in a day! Please enter a valid duration.");
		    		return false;
		    	}

			    else{
		       		alert("You logged " + duration + " minutes of " + activity + ".");
		        	return true;
		    	}
			}

 		</script>

		<title>My Time Manager</title>

		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">

	</head>

	<body>

		<!--This is the navigation bar fixed to top of page-->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="header-text">

	  		<!--not sure why container-fluid needs to be used, but documentation says use it-->
		    <div class="container-fluid">

			    <div class="navbar-header col-xs-11">

			    	<p><a href="/"><img src ="./images/home.png"></a>&nbsp;&nbsp;<%= $user_name %>'<% if !($user_name.to_s.end_with? "s") %>s<% end %> Time Manager</p> 

			    </div>

			    <div class="navbar-header col-xs-1">

					<a href="/logout"><button class="btn btn-xs btn-default">Log Out</button></a>

			    </div>

			</div>

		<!--end of nav bar code-->
		</nav>

		<div class="container">

	    	<div class="row">

			    <div class="col-md-3 col-xs-1">
				</div>

			    <div class="col-md-6 col-xs-10" id="log-activity-section">

			    	<h2 class="homepage-headings">Log Activity</h2>

					<form method="POST" name"myForm" onsubmit="return validation_message();" action="/log">

						<div class="form-group">

							<label class="control-label"></label>

							<div class="input-group col-md-6 col-xs-8">

								<span class="input-group-addon">How many minutes?</span>

								<input class="form-control" type="number" step="1" min="0" id="duration" name="duration" placeholder="" required="required" autofocus>

							</div>

							<label class="control-label"></label>

							<div class="input-group col-md-12 col-xs-12">

								<span class="input-group-addon">Doing what?</span>

								<input class="form-control" type="text" maxlength="30" id="activity_to_log" name="activity_to_log" pattern="[^,]+" title="Invalid input" placeholder="Enter activity..."required="required">

							</div>

							<div class="input-group col-md-12 col-xs-12 activity-radio-buttons">

								<label class="radio-inline"><input type="radio" name="task_type" value="work" required="required">Work</label>

								<label class="radio-inline"><input type="radio" name="task_type" value="leisure" required="required">Leisure</label>

							</div>


						</div>

			        	<button type="submit" class="btn btn-success">Log It</button>

					</form>

				</div>

			    <div class="col-md-3 col-xs-1">
				</div>

			</div>
			<!--end of first row-->
			
			<!--start of second row-->

			<div class="row">

			    <div class="col-md-2 col-xs-1">
				</div>

			    <div class="col-md-10 col-xs-10" id="activity-summary-section">

			    	<h2 class="homepage-headings">Today's Activity Summary</h2>
			    	<a href="/week"><button class="btn btn-xs btn-default summary-buttons">MY WEEK</button></a> <a href="/month"><button class="btn btn-xs btn-default summary-buttons">MY MONTH</button></a>

			    	<% if @summary_data["graph_data"].empty? %>

						<p>Log your first activity of the day to get started.</p>

					<% else %>

						<% if @summary_data["graph_data"].length >1 %>

							<ul>
					    		<li><%= @summary_data["most_time_spent"][0].capitalize %> is what you spent the most time on (<%= @summary_data["most_time_spent"][1] %> minutes)</li>
					    		<li><%= @summary_data["least_time_spent"][0].capitalize %> is what you spent the least time on (<%= @summary_data["least_time_spent"][1] %> minutes)</li>
					    	</ul>

							<div>
							    <%= bar_chart(@summary_data["graph_data"], id: "activity-summary", width: "100%", xtitle: "Minutes Spent Today"
							    ) %>
							    <%= bar_chart(@work_data["graph_data"], id: "work-summary", width: "100%", xtitle: "Work vs. Leisure", colors: ["green"]) %>
							</div>

						<% else %>

							<p>You spent <%= @summary_data["most_time_spent"][1] %> minutes on <%= @summary_data["most_time_spent"][0] %> today.</p>

							<div>
							    <%= bar_chart(@summary_data["graph_data"], id: "activity-summary", width: "100%", xtitle: "Minutes Spent Today") %>
							    <%= bar_chart(@work_data["graph_data"], id: "work-summary", width: "100%", xtitle: "Work vs. Leisure", colors: ["green"]) %>
							</div>

				    	<%end %>

					<% end %>

				</div>

			</div>
			<!--end of second row-->

			<!--start of third row-->

			<div class="row">

			    <div class="col-md-offset-2 col-md-10 col-xs-11 col-xs-offset-1">

			    	<h2 class="homepage-headings">My Targets
					</h2>

					<% if @day_targets.empty? && @week_targets.empty? && @month_targets.empty?%>

			    		<p>You haven't set any targets yet.</p>

			    	<% else %>

				    	<p>Your current targets are:</p>
						
						<ul>

							<% for row in @day_targets %>
								
								<li><%= row["target_minutes"]%> minutes of <%= row["target_activity"]%> per <%= row["period"]%></li>

							<% end %>

							<% for row in @week_targets %>
								
								<li><%= row["target_minutes"]%> minutes of <%= row["target_activity"]%> per <%= row["period"]%></li>

							<% end %>

							<% for row in @month_targets %>
								
								<li><%= row["target_minutes"]%> minutes of <%= row["target_activity"]%> per <%= row["period"]%></li>

							<% end %>

						</ul>

					<% end %>

					<a href="/targets"> <button class="btn btn-xs btn-default go-to-targets-button">Go To Targets</button></a>
			    												
				</div>

			</div>
		<!--end of third row-->

		<!--this /div closes the container-->
	    </div>

	</body>

</html>
